.card{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
}
.disc{
    padding: 0 2px 0 2px;
}
img{
    width: 100%;
    height: 110px;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 0 8px 16px black;
}
